<div class="container">
  <div class="row">
    <div class="col backgrounddark p-4 d-flex-column text-center">
      <h1>Sport Activiteiten App!</h1>
      <p class="p-3">
        Op deze website is het mogelijk je zelf in te schrijven voor sport
        gerelateede activiteiten. Denk daarbij aan activiteiten zoals workshops,
        seminars, wedstrijden, lezingen en groepslessen! Je hoeft enkel een
        account aan te maken en een je in te schrijven voor het gewenste
        evenement, betaling is op locatie. Mee doen aan deze evenement is ideaal
        om sfeer te proeven in een sportschool, meer kennis op te doen, les te
        krijgen van je idool, of je techniek bij te schaven!
      </p>
      <a class="btn custombutton" routerLink=""> Evenementen</a>
    </div>
  </div>
</div>
