<div *ngIf="newUserData" class="container">
  <div class="row backgrounddark">
    <div *ngIf="isEmployee" class="col-12 d-flex justify-content-center mt-3">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button
          type="button"
          *ngIf="isUser"
          (click)="switchForm()"
          class="btn selectbutton"
        >
          Toon Sportclub
        </button>
        <button
          type="button"
          *ngIf="!isUser"
          (click)="switchForm()"
          class="btn selectbutton"
        >
          Toon Account
        </button>
      </div>
    </div>

    <!-- Account form -->
    <div class="col-12 text-center" *ngIf="isUser">
      <div class="mt-3">
        <h1 class="text-center titlebackground">Account Gegevens</h1>
      </div>
      <form
        #accountForm="ngForm"
        name="form"
        (ngSubmit)="updateAccountSettings()"
        novalidate
      >
        <div class="form-row">
          <div class="col">
            <label for="firstName">Voornaam</label>
            <input
              type="text"
              name="firstName"
              class="form-control firstnameinput"
              [(ngModel)]="newUserData.firstName"
              #firstName="ngModel"
              required
            />
            <div
              *ngIf="
                firstName.invalid && (firstName.dirty || firstName.touched)
              "
              class="alert alert-danger mt-1"
            >
              <div *ngIf="firstName.errors!['required']">
                Voornaam is verplicht.
              </div>
            </div>
          </div>
          <div class="col">
            <label for="lastName">Achternaam</label>
            <input
              type="text"
              name="lastName"
              class="form-control lastnameinput"
              placeholder="Klaasen"
              [(ngModel)]="newUserData.lastName"
              #lastName="ngModel"
              required
            />
            <div
              *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
              class="alert alert-danger mt-1"
            >
              <div *ngIf="lastName.errors!['required']">
                Achternaam is verplicht.
              </div>
            </div>
          </div>
          <div class="col">
            <label for="email">Email</label>
            <input
              type="text"
              name="email emailinput"
              class="form-control"
              placeholder="johndoe@gmail.com"
              [(ngModel)]="newUserData.email"
              #email="ngModel"
              required
            />
            <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert alert-danger mt-1"
            >
              <div *ngIf="email.errors!['required']">
                Vul een geldig email adres in.
              </div>
            </div>
          </div>
          <div class="col">
            <label for="city">Woonplaats</label>
            <input
              type="text"
              name="city cityinput"
              class="form-control"
              placeholder="Breda"
              [(ngModel)]="newUserData.city"
              #city="ngModel"
              required
            />
            <div
              *ngIf="city.invalid && (city.dirty || city.touched)"
              class="alert alert-danger mt-1"
            >
              <div *ngIf="city.errors!['required']">Een stad is verplicht.</div>
            </div>
          </div>
          <div class="col">
            <label for="password">Wachtwoord</label>

            <input
              type="password"
              name="password passwordinput"
              class="form-control"
              [(ngModel)]="newUserData.password"
              #password="ngModel"
              minlength="8"
              required
            />
            <div
              *ngIf="password.invalid && password.touched"
              class="alert alert-danger mt-1"
            >
              <div *ngIf="password.errors!['required']">
                Vul uw wachtwoord in van tenminste 8 tekens.
              </div>
              <div *ngIf="password.errors!['minlength']">
                Vul uw wachtwoord in van tenminste 8 tekens.
              </div>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col d-flex justify-content-center">
            <button class="btn customcancelbutton mx-2" routerLink="..">
              Annuleren
            </button>
            <button
              type="submit"
              class="btn customupdatebutton mx-2"
              [disabled]="!accountForm.valid"
            >
              Updaten
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- club form -->

    <div class="col-12 text-center" *ngIf="!isUser">
      <div class="mt-3">
        <h1 class="text-center">Sportclub Gegevens</h1>
      </div>
      <form #clubForm="ngForm" (ngSubmit)="updateAccountSettings()">
        <div>
          <div class="col">
            <label for="clubName">Naam sportclub</label>
            <input
              type="text"
              name="clubName"
              class="form-control"
              placeholder="De Sportclub"
              [(ngModel)]="newUserData.sportclub!.clubName"
              #clubName="ngModel"
              required
            />
            <div
              *ngIf="clubName.invalid && (clubName.dirty || clubName.touched)"
              class="alert alert-danger mt-1"
            >
              <div *ngIf="clubName.errors!['required']">
                Een clubnaam is verplicht.
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col">
            <label for="website">Website sportclub</label>
            <input
              type="text"
              name="website"
              class="form-control"
              placeholder="www.jouwwebsite.nl"
              [(ngModel)]="newUserData.sportclub!.websiteURL"
              #website="ngModel"
              required
            />
            <div
              *ngIf="website.invalid && (website.dirty || website.touched)"
              class="alert alert-danger mt-1"
            >
              <div *ngIf="website.errors!['required']">
                Een websiteURL is verplicht.
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col">
            <label for="companyEmail">Bedrijfsemail sportclub</label>
            <input
              type="text"
              name="companyEmail"
              class="form-control"
              placeholder="jouwbedrijf@company.nl"
              [(ngModel)]="newUserData.sportclub!.email"
              #companyEmail="ngModel"
              required
            />
            <div
              *ngIf="
                companyEmail.invalid &&
                (companyEmail.dirty || companyEmail.touched)
              "
              class="alert alert-danger mt-1"
            >
              <div *ngIf="companyEmail.errors!['required']">
                Een Bedrijfsemail is verplicht.
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col">
            <label for="phonenumber">Telefoonnummer sportclub</label>
            <input
              type="text"
              name="phonenumber"
              class="form-control"
              placeholder="0761234567"
              [(ngModel)]="newUserData.sportclub!.phoneNumber"
              #phonenumber="ngModel"
              required
            />
            <div
              *ngIf="
                phonenumber.invalid &&
                (phonenumber.dirty || phonenumber.touched)
              "
              class="alert alert-danger mt-1"
            >
              <div *ngIf="phonenumber.errors!['required']">
                Een telefoonnummer is verplicht.
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col">
            <label for="clubCity">Stad van Sportclub</label>
            <input
              type="text"
              name="clubCity"
              class="form-control"
              placeholder="Breda"
              [(ngModel)]="newUserData.sportclub!.address.city"
              #clubCity="ngModel"
              required
            />
            <div
              *ngIf="clubCity.invalid && (clubCity.dirty || clubCity.touched)"
              class="alert alert-danger mt-1"
            >
              <div *ngIf="clubCity.errors!['required']">
                Een telefoonnummer is verplicht.
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col">
            <label for="zipcode">Postcode sportclub</label>
            <input
              type="text"
              name="zipcode"
              class="form-control"
              placeholder="1234AB"
              [(ngModel)]="newUserData.sportclub!.address.zipCode"
              #zipcode="ngModel"
              length="6"
              required
            />
            <div
              *ngIf="zipcode.invalid && zipcode.touched"
              class="alert alert-danger mt-1"
            >
              <div *ngIf="zipcode.errors!['required']">
                Een postcode is verplicht.
              </div>
              <div *ngIf="zipcode.errors!['length']">
                Een postcode betsaat uit 6 tekens.
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col">
            <label for="street">Straat sportclub</label>
            <input
              type="text"
              name="street"
              class="form-control"
              placeholder="waterviolier"
              [(ngModel)]="newUserData.sportclub!.address.street"
              #street="ngModel"
              required
            />
            <div
              *ngIf="street.invalid && street.touched"
              class="alert alert-danger mt-1"
            >
              <div *ngIf="street.errors!['required']">
                Een straat is verplicht.
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col">
            <label for="Housenumber">Huisnummer sportclub</label>
            <input
              type="text"
              name="Housenumber"
              class="form-control"
              placeholder="105A"
              [(ngModel)]="newUserData.sportclub!.address.houseNumber"
              #Housenumber="ngModel"
              required
            />
            <div
              *ngIf="Housenumber.invalid && Housenumber.touched"
              class="alert alert-danger mt-1"
            >
              <div *ngIf="Housenumber.errors!['required']">
                Een huisnummer is verplicht.
              </div>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col d-flex justify-content-center">
            <button class="btn customcancelbutton mx-2" routerLink="..">
              Annuleren
            </button>
            <button
              type="submit"
              class="btn customupdatebutton mx-2"
              [disabled]="!clubForm.valid"
            >
              Updaten
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
