a {
  color: white;
}
a:hover {
  color: #585858;
}
.navbar {
  border-bottom: 1px solid #1044f2;
}

.navbar-toggler {
  color: white;
  border: 1px solid white;
}

nav {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    10deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 28%,
    rgba(84, 86, 87, 1) 100%
  );
}

.custombutton {
  background-color: #000000;
  color: white;
  border: 1px solid #1044f2;
}

.custombutton:hover {
  background-color: #1044f2;
  color: white;
  border: 1px solid #000000;
}
