<div *ngIf="sportEvent">
  <div class="container">
    <div class="row backgrounddark">
      <div class="col-12 text-center pt-2">
        <h2>
          {{ sportEvent.title }}
        </h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <p>
            {{ sportEvent.description }}
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <hr class="rounded w-75 mx-auto" />
        <div class="col-12 col-md-5 d-flex justify-content-center py-3">
          <div class="d-flex flex-column">
            <div><h4 class="d-block text-center">Informatie</h4></div>
            <h6 class="d-block">Prijs: €{{ sportEvent.price }}</h6>
            <h6 class="d-block">
              Datum: {{ sportEvent.startDateAndTime | date : 'medium' }}
            </h6>
            <h6 class="d-block">
              Aantal Deelnemers:
              {{ enrolledParticipants?.length }}/{{
                sportEvent.maximumNumberOfParticipants
              }}
            </h6>
            <h6>
              Website:
              <a href="{{ sportEvent.sportclub.websiteURL }}" target="_blank">{{
                sportEvent.sportclub.websiteURL
              }}</a>
            </h6>
          </div>
        </div>
        <div class="col-12 col-md-5 d-flex justify-content-center py-3">
          <div class="d-flex flex-column">
            <div><h4 class="d-block text-center">Locatie</h4></div>
            <h6 class="d-block">
              sportclub: {{ sportEvent.sportclub.clubName }}
            </h6>
            <h6 class="d-block">
              Stad: {{ sportEvent.sportclub.address.city }}
            </h6>
            <h6 class="d-block">
              Straat en huisnummer: {{ sportEvent.sportclub.address.street }}
              {{ sportEvent.sportclub.address.houseNumber }}
            </h6>
            <h6 class="d-block">
              Postcode: {{ sportEvent.sportclub.address.zipCode }}
            </h6>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12 text-center">
          <small>Contact </small>
          <small> | </small>
          <small>{{ sportEvent.sportclub.email }}</small>
          <small> | </small>
          <small> Telefoonnummer: {{ sportEvent.sportclub.phoneNumber }}</small>
        </div>
      </div>
      <hr class="rounded w-75 mx-auto" />
      <div
        *ngIf="
          (isEmployee && sportEvent.hostId === currentUser?._id) || isAdmin
        "
        class="py-2"
      >
        <div class="row justify-content-center">
          <div class="col-3 text-center">
            <a
              class="btn customupdatebutton"
              [routerLink]="'/sportevents/' + sportEvent._id + '/update'"
              >Aanpassen</a
            >
          </div>
          <div class="col-3 text-center">
            <a class="btn customdeletebutton" (click)="deleteSportEvent()"
              >Verwijderen</a
            >
          </div>
        </div>
      </div>

      <div
        *ngIf="
          enrolledParticipants | includes : currentUser?._id;
          then unenrollTemplate;
          else enrollTemplate
        "
      ></div>
      <ng-template #enrollTemplate>
        <div *ngIf="isUser" class="col-4 mx-auto">
          <a
            (click)="enrollInSportEvent()"
            class="btn customenrollbutton d-flex justify-content-center"
            >Aanmelden</a
          >
        </div>
      </ng-template>
      <ng-template #unenrollTemplate>
        <div *ngIf="isUser" class="col-4 mx-auto">
          <a
            (click)="unenrollInSportEvent()"
            class="btn customunenrollbutton d-flex justify-content-center"
            >Afmelden</a
          >
        </div>
      </ng-template>
    </div>
  </div>
</div>
